<div class = "footer-container full-width">
  <div class = "width-50 center-with-margin">
    <div class="row">
      <div class="col-xs-12 col-md-3  text-center padding-15">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="col-xs-12 col-md-3 text-center padding-15">
        <%= link_to 'Gallery',gallery_path%>
      </div>
      <div class="col-xs-12 col-md-3 text-center padding-15">
        <%= link_to 'About',root_path%>
      </div>
      <div class="col-xs-12 col-md-3 text-center padding-15">
        <%= link_to 'Contact', root_path %>
      </div>
    </div>
  </div>
</div>
